table, td, th {
border: 1px solid black;
text-align: center;
margin-left:auto; 
margin-right:auto;
}

td {
  text-align: center;
}

body .fc { 
   font-size: 1.5em;  
}

#calendar{
background-color: #F8F8FF;
margin-left:auto; 
margin-right:auto;
border-color: black;
border-style: solid;
border-width: thin;
height: 40%;
width:50%;
}